<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.niblius.mtoolkit" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.niblius.mtoolkit.MToolkit"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <receiver
            android:name="com.niblius.mtoolkit.InitializingBootReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name="com.niblius.mtoolkit.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.niblius.mtoolkit.ping.CreatePingActivity" >
        </activity>

        <activity android:name="com.niblius.mtoolkit.ping.PingActivity">
        </activity>

        <activity android:name="com.niblius.mtoolkit.portcheck.CreatePortCheckActivity" >
        </activity>

        <activity android:name="com.niblius.mtoolkit.portcheck.PortCheckActivity">
        </activity>

        <activity android:name="com.niblius.mtoolkit.SettingsActivity">
        </activity>

        <activity android:name="com.niblius.mtoolkit.ping.PingOptionsActivity">
        </activity>

        <activity android:name="com.niblius.mtoolkit.portcheck.PortCheckOptionsActivity">
        </activity>

        <activity android:name="com.niblius.mtoolkit.integrity.CreateIntegrityActivity">
        </activity>

        <activity android:name="com.niblius.mtoolkit.integrity.IntegrityActivity">
        </activity>

        <activity android:name="com.niblius.mtoolkit.integrity.IntegrityOptionsActivity"></activity>

        <activity android:name="com.niblius.mtoolkit.integrity.IntegrityLogActivity">
        </activity>

        <service android:name="com.niblius.mtoolkit.TaskManagerService" >
        </service>

        <meta-data
            android:name="DATABASE"
            android:value="mtoolkit.db" />
        <meta-data
            android:name="VERSION"
            android:value="23" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.niblius.mtoolkit" />
    </application>

</manifest>
