<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.slaruva.sollertiamonitoring" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Sollertia"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <receiver
            android:name=".InitializingBootReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ping.CreatePingActivity" >
        </activity>

        <activity android:name=".ping.PingActivity">
        </activity>

        <activity android:name=".portcheck.CreatePortCheckActivity" >
        </activity>

        <activity android:name=".portcheck.PortCheckActivity">
        </activity>

        <service android:name=".TaskManagerService" >
        </service>

        <meta-data
            android:name="DATABASE"
            android:value="sollertiamonitoring.db" />
        <meta-data
            android:name="VERSION"
            android:value="21" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.slaruva.sollertiamonitoring" />
    </application>

</manifest>
